{% extends "structure.html" %}{%block main %}
<div class="card text-center">
  <div class="card-header">This is the About Page</div>
  <div class="card-body">
    <h5 class="card-title">This is some stuff about me:</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam nam
      eveniet delectus animi reiciendis exercitationem quaerat nisi provident
      eos consectetur eum rerum quod, neque autem sapiente cupiditate incidunt!
      Nesciunt, in!
    </p>

    <div class="card-footer text-muted">Built .02 days ago</div>
  </div>
  {% endblock main %}
</div>
