{% extends "structure.html" %}{%block main %}
<h1>Update task page</h1>

<form action="" method="POST">
  {{message}}
  <div class="row">
    <div class="form-field add-task-header form-group col">
      <label for="">Task Name</label
      ><input class="form-control" type="text" name="task_name" />
    </div>
    <div class="form-field add-task-header form-group col">
      <label for="">Task Start</label
      ><input class="form-control" type="text" name="task_start" />
    </div>
    <div class="form-field add-task-header form-group col">
      <label for="">Task Due</label
      ><input class="form-control" type="text" name="task_due" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary form-group">Update Task</button>
</form>

<script src="../static/js/task.js"></script>

{% endblock main %}
