{% extends "structure.html" %}{%block main %}
<div class="card text-center">
  <div class="card-header">This is the "privacy.html" page</div>
  <div class="card-body">
    <h5 class="card-title">Privacy Policy Things</h5>
    <p class="card-text">
      Personal data is any information that can be used to identify an
      individual. Personal data includes names, emails, phone numbers,
      addresses, geolocation, IP address, cookie data, and so much more.
    </p>
    <h5 class="card-title">Personal Data & the Law</h5>
    <p class="card-text">
      Personal data is heavily protected by laws like the GDPR, CCPA, CalOPPA,
      and others. The leading method of protecting personal data is requiring
      websites and businesses to be honest about how they collect, share, and
      use personal data.
    </p>
    <h5 class="card-title">Personal Data & Your Privacy Policy</h5>
    <p class="card-text">
      If you collect personal data, you need a privacy policy. Comply with laws,
      build loyalty with customers, and meet online business standards by
      providing a comprehensive privacy policy to your users.
    </p>
  </div>
  <div class="card-footer text-muted">Built .02 days ago</div>
</div>
{% endblock main %}
