<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>ToDo List</title>
  </head>
  <body>
    <header><a href="/">Home</a></header>
    <main>
      {% block main%}
      <h1>This is the structure.html page page</h1>
      {% endblock main %}
    </main>
  </body>
  <script src="../static/js/index.js"></script>
</html>
