{% extends 'structure.html' %}{% block main %}
<h1>Welcome to your homepage</h1>
<h3>{{message}}</h3>
<div>
  <p>Add a task</p>
  <form action="/add_task" method="POST">
    <div class="add-task-header">
      <label for="">Task Name</label>
      <input type="text" name="task_name" />
    </div>
    <div class="add-task-header">
      <label for="">Start Date</label>
      <input type="text" name="task_start_date" />
    </div>
    <div class="add-task-header">
      <label for=""> Due Date</label>
      <input type="text" name="task_due_date" />
    </div>

    <button type="submit">Add Task</button>
  </form>
</div>
<table id="task-list">
  <tr class="task-width">
    <th>Task Id</th>
    <th>Task Name</th>
    <th>Task Start Date</th>
    <th>Task Due Data</th>
    <th>Edit</th>
  </tr>
</table>

<a href="/logout">Logout</a>
<script src="../static/js/tasks.js"></script>

{% endblock main %}
